* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--sky-color: #042457;
	--ground-color: #001233;
	--horizon-mountain-color: #001845;
	--center-mountain-color: #374574;
	--center-mountain-shadow-color: #283253;
	--river-color: #6998fc;
	--flat-mountain-color: #0e234b;
	--horizon-tree-color: #0d0441;

	--moon-color: #f3f39d;
	--moon-shadow-1: #faface2c;
	--moon-shadow-2: #dbdb982c;
	--moon-shadow-3: #ffff914b;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(50%);
}

/*Circle*/
.container {
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
	background-color: var(--sky-color);
	overflow: hidden;
	position: relative;
	z-index: 0;
}

/*Mountain in the horizon left*/
.horizon {
	position: relative;
	width: inherit;
	height: 20rem;
	background-color: var(--horizon-mountain-color);
	transform: rotate(30deg) translate(-8rem, 6rem);
	top: 17rem;
	left: 0;
	z-index: 1;
}

/*Mountain in the horizon right*/
.horizon::after {
	content: '';
	position: absolute;
	width: inherit;
	height: 20rem;
	background-color: var(--horizon-mountain-color);
	transform: rotate(-56deg) translate(16rem, 8rem);
	top: 0;
	left: 0;
	z-index: 1;
}

.moon {
	background-color: var(--moon-color);
	box-shadow: 0 0 0 1rem var(--moon-shadow-1), 0 0 0 2rem var(--moon-shadow-2), 0 0 0 3rem var(--moon-shadow-3);
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

/*Mountain in the center at the back*/
.center-mountain {
	position: relative;
	width: 0;
	border-left: 12rem solid transparent;
	border-bottom: 6rem solid var(--center-mountain-color);
	transform: translate(8rem, 22rem) scaleY(2.5);
	z-index: 2;
}

/*Mountain in the center at the back right side*/
.center-mountain::after {
	content: '';
	position: absolute;
	border-right: 12rem solid transparent;
	border-bottom: 6rem solid var(--center-mountain-shadow-color);
}

.flat-mountain {
	position: absolute;
	transform: translate(10rem, 24rem);
	height: 6rem;
	background-color: var(--river-color);
	width: 21rem;
	z-index: 3;
}

.flat-mountain::before {
	content: '';
	position: absolute;
	transform: translate(-15.5rem, -0.7rem);
	border-right: 6rem solid transparent;
	border-bottom: 6rem solid var(--flat-mountain-color);
	width: 21rem;
	z-index: 3;
}

.flat-mountain::after {
	content: '';
	position: absolute;
	transform: translate(8.5rem, -0.7rem);
	border-left: 6rem solid transparent;
	border-bottom: 6rem solid var(--flat-mountain-color);
	width: 21rem;
}

.front-ground {
	position: relative;
	width: inherit;
	height: 7rem;
	background-color: var(--ground-color);
	z-index: 3;
	transform: translateY(8rem);
}

.moon-reflection {
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	background-color: var(--moon-shadow-3);
	transform: translate(9rem);
	width: 2rem;
	height: 1rem;
	z-index: 4;
}

.moon-reflection::after {
	content: '';
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	background-color: var(--moon-shadow-2);
	transform: translateY(0.15rem) scale(1.3);
	width: 2rem;
	height: 1rem;
	z-index: 4;
}

.moon-reflection::before {
	content: '';
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	background-color: var(--moon-shadow-1);
	transform: translateY(0.25rem) scale(1.5);
	width: 2rem;
	height: 1rem;
}

.right-shore-forest .tree-1 {
	position: absolute;
	transform: translate(30.5rem, 19.5rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 4rem solid rgb(35, 41, 36);
	width: 0;
	z-index: 3;
}

.right-shore-forest .tree-1::after {
	content: '';
	position: absolute;
	transform: translate(1rem, -3rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 7rem solid rgb(24, 48, 28);
}

.right-shore-forest .tree-1::before {
	content: '';
	position: absolute;
	transform: translate(3rem, -5rem);
	border-left: 1.5rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 9rem solid rgb(4, 37, 9);
}

.right-shore-forest .tree-2 {
	position: absolute;
	transform: translate(34rem, 18.5rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 5rem solid rgb(35, 41, 36);
	width: 0;
	z-index: 3;
}

.right-shore-forest .tree-2::after {
	content: '';
	position: absolute;
	transform: translate(1.5rem, -2rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 7rem solid rgb(24, 48, 28);
}

.right-shore-forest .tree-2::before {
	content: '';
	position: absolute;
	transform: translate(2.5rem, -5rem);
	border-left: 1.5rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 9rem solid rgb(4, 37, 9);
}

.right-shore-forest .tree-3 {
	position: absolute;
	transform: translate(29rem, 14.5rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 9rem solid rgb(2, 31, 7);
	width: 0;
	z-index: 3;
}

.right-shore-forest .tree-3::after {
	content: '';
	position: absolute;
	transform: translate(-2rem, 4rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 5rem solid rgb(24, 48, 28);
}

.right-shore-forest .tree-3::before {
	content: '';
	position: absolute;
	transform: translate(-3.5rem);
	border-left: 1.5rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 9rem solid rgb(4, 37, 9);
}

.left-horizon-forest .tree-1 {
	position: absolute;
	transform: rotate(-30deg) translate(10rem, -1rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 7rem solid var(--horizon-tree-color);
	z-index: 2;
}

.left-horizon-forest .tree-1::before {
	content: '';
	position: absolute;
	transform: translate(-4rem, -3.5rem);
	border-left: 2rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 9rem solid var(--horizon-tree-color);
	z-index: 2;
}

.left-horizon-forest .tree-1::after {
	content: '';
	position: absolute;
	transform: rotate(5deg) translate(0.5rem, -1rem);
	border-left: 1rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 9rem solid var(--horizon-tree-color);
	z-index: 2;
}

.left-horizon-forest .tree-2 {
	position: absolute;
	transform: rotate(-30deg) translate(14rem, 5rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 4rem solid var(--horizon-tree-color);
	z-index: 2;
}

.left-horizon-forest .tree-2::before {
	content: '';
	position: absolute;
	transform: translate(-3rem, -4rem);
	border-left: 2rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 7rem solid var(--horizon-tree-color);
	z-index: 2;
}

.left-horizon-forest .tree-2::after {
	content: '';
	position: absolute;
	transform: rotate(5deg) translate(0, -4rem);
	border-left: 1rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 9rem solid var(--horizon-tree-color);
	z-index: 2;
}

.left-horizon-forest .tree-3 {
	position: absolute;
	transform: rotate(-30deg) translate(5rem, -3rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 6rem solid var(--horizon-tree-color);
	z-index: 2;
}

.right-horizon-forest .tree-1 {
	position: absolute;
	transform: rotate(-30deg) translate(31rem, 1.5rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 7rem solid var(--horizon-tree-color);
	z-index: 2;
}

.right-horizon-forest .tree-1::before {
	content: '';
	position: absolute;
	transform: translate(-3rem, 0rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 9rem solid var(--horizon-tree-color);
	z-index: 2;
}

.right-horizon-forest .tree-1::after {
	content: '';
	position: absolute;
	transform: translate(0.5rem, -3rem);
	border-left: 1rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 9rem solid var(--horizon-tree-color);
	z-index: 2;
}

.right-horizon-forest .tree-2 {
	position: absolute;
	transform: rotate(-30deg) translate(36rem, 1rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 4rem solid var(--horizon-tree-color);
	z-index: 2;
}

.right-horizon-forest .tree-2::before {
	content: '';
	position: absolute;
	transform: translate(-2.5rem, -2rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 7rem solid var(--horizon-tree-color);
}

.right-horizon-forest .tree-2::after {
	content: '';
	position: absolute;
	transform: translate(2rem, -6rem);
	border-left: 1rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 9rem solid var(--horizon-tree-color);
}

.right-horizon-forest .tree-3 {
	position: absolute;
	transform: rotate(-30deg) translate(41rem, -3.5rem);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 6rem solid var(--horizon-tree-color);
}

.right-horizon-forest .tree-3::before {
	content: '';
	position: absolute;
	transform: translate(-4rem, 0);
	border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-bottom: 8rem solid var(--horizon-tree-color);
}
